<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.nova.dal.mysql.mapper.TaskItemExecCallMapper">
  <resultMap id="BaseResultMap" type="com.yxy.nova.dal.mysql.dataobject.TaskItemExecCallDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_item_exec_uuid" jdbcType="VARCHAR" property="taskItemExecUuid" />
    <result column="task_item_uuid" jdbcType="VARCHAR" property="taskItemUuid" />
    <result column="policy_uuid" jdbcType="VARCHAR" property="policyUuid" />
    <result column="task_batch_uuid" jdbcType="INTEGER" property="taskBatchUuid" />
    <result column="task_uuid" jdbcType="VARCHAR" property="taskUuid" />
    <result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="call_start_time" jdbcType="TIMESTAMP" property="callStartTime" />
    <result column="robot_duration" jdbcType="INTEGER" property="robotDuration" />
    <result column="customer_duration" jdbcType="INTEGER" property="customerDuration" />
    <result column="robot_phone" jdbcType="VARCHAR" property="robotPhone" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="robot_result_code" jdbcType="VARCHAR" property="robotResultCode" />
    <result column="robot_result_desc" jdbcType="VARCHAR" property="robotResultDesc" />
    <result column="customer_result_code" jdbcType="VARCHAR" property="customerResultCode" />
    <result column="customer_result_desc" jdbcType="VARCHAR" property="customerResultDesc" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="record_file_id" jdbcType="VARCHAR" property="recordFileId" />
    <result column="caller" jdbcType="VARCHAR" property="caller" />
    <result column="caller_location" jdbcType="VARCHAR" property="callerLocation" />
    <result column="tag_code" jdbcType="VARCHAR" property="tagCode" />
    <result column="tag_desc" jdbcType="VARCHAR" property="tagDesc" />
    <result column="call_push_time" jdbcType="TIMESTAMP" property="callPushTime" />
    <result column="next_push_time" jdbcType="TIMESTAMP" property="nextPushTime" />
    <result column="is_halted" jdbcType="BIT" property="isHalted" />
    <result column="talk_type" jdbcType="VARCHAR" property="talkType" />
    <result column="talk_service_provider" jdbcType="VARCHAR" property="talkServiceProvider" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="ivr_key" jdbcType="VARCHAR" property="ivrKey" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="tag_list" jdbcType="VARCHAR" property="tagList" />
    <result column="dialogue_round" jdbcType="INTEGER" property="dialogueRound" />
    <result column="customer_hangup" jdbcType="BIT" property="customerHangup" />
    <result column="matched_intention_tag_rule" jdbcType="VARCHAR" property="matchedIntentionTagRule" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="interaction_detail" jdbcType="LONGVARCHAR" property="interactionDetail" />
  </resultMap>
</mapper>